* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
}
#meu-form {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.load-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-icon {
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3; 
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.form-insc img {
  text-align: : center;
}
.conteudo-form {
  width: 500px;
  height: 450px;
  margin: 50px auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #041a28;
  color: #fff;
  
  position: relative;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.step {
  display: none;
}

.step.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  
}

.campos {
  width: 100%;
}

.step label{
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.step input {
  color: #e6e6e6;
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: none;
}

.step #inf-phone {
  display: block;
  letter-spacing: 2px;
  padding: 5px;
}

button[disabled], button[disabled]:hover {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  transition: 0.4s ease-in-out;
  transform: translate(0);
  animation: none;
}

button {
  background: #123c56; /* Verde */
  border: 1px solid #e6e6e6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  animation: btns-efects 2s;
  animation-direction: center;
}

@keyframes btns-efects {
  100% {
    background: #800080;
  }
  
}

button:active {
  transform: translateY(4px);
  transition: 0.4s ease-in-out;
}


.step a {
  color: #fff;
}

.step h5 {
  font-size: 30px;
  text-align: center;
}

.step h6 {
  font-size: 20px;
  text-align: center;
}
